# Metadata and cache
*_MACOSX
*__pycache__

# Datasets
data/dataset
data/imgs

# Models
data/final_model/*.pth
data/final_model_BioMedBLIP/best_lora_model_epoch_*/*

# Latex auxiliary files
Preliminary Report/*

# Preliminary submission files
Preliminary Submission

# Report files
Final Report/*