# Metadata and cache
*_MACOSX
*__pycache__

# Datasets
data/dataset
data/imgs

# Models
data/final_model/*.pth

# Latex auxiliary files
Preliminary Report/*
!Preliminary Report/*.tex
!Preliminary Report/*.pdf

# Preliminary submission files
Preliminary Submission